# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
vendor/

# Build artifacts
*.log
*.zip

# Environment files
.env
